#header {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  button > mat-icon {
    margin: 0;
  }
}

.members-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .search-members {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 40px;
  }
}

.member-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0.5rem;
  border-radius: 0.5rem;
}

.member-item:hover {
  background-color: lightgray;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;

  .image {
    height: 45px;
    width: 45px;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    .name {
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    .email {
      color: rgb(107 114 128 / var(--tw-text-opacity, 1));
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }
}

.role {
  select {
    color: rgb(17 24 39 / var(--tw-text-opacity, 1));
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
    padding: 0.375rem 2rem 0.375rem 0.75rem;
    border: 1px solid #ddd;
    border-radius: 0.375rem;
  }
}

.add-new-member{
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
