<section>
  <div id="header">
    <h2>Team members</h2>
    <button matButton mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
  <div class="members-content">
    <div class="search-members">
      <app-custom-search-input
        (searchEmitter)="setSearch($event)"
        (clearEmitter)="clearSearch()"
      ></app-custom-search-input>
      @if(!addNewMembers){
      <button mat-button (click)="toggleAddNewMembers()">Add members</button>
      }
    </div>
    @if (addNewMembers) {
    <div class="add-new-member">
      <span>Invite new member</span>
      <div class="search-members">
        <mat-form-field class="example-full-width" appearance="outline">
          <input
            type="text"
            placeholder="Search memebers"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="addMember($event.option.value)"
          >
            @for (option of (options | async); track option.value ) {
            <mat-option [value]="option">{{ option.label }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="selected-chip">
        @for (user of selectedUsers; track $index) {
        <mat-chip (removed)="this.selectedUsers.splice($index, 1)"
          >{{ user.label }}
          <mat-icon matChipRemove>X</mat-icon>
        </mat-chip>
        }
      </div>
      <div align="end">
        <button mat-button (click)="toggleAddNewMembers()">Close</button>
        <button mat-button (click)="inviteNewMembers()">Send invite</button>
      </div>
    </div>
    }
    <div class="members-list">
      @for (m of projectMembers; track $index) {
      <div class="member-item">
        <div class="info">
          <app-avatar-photo class="image" [name]="m.fullName"></app-avatar-photo>
          <div class="user-info">
            <span class="name">{{ m.fullName }}</span>
            <span class="email">{{ m.email }}</span>
          </div>
        </div>
        <div class="options-member">
          <div class="role">
            <select [(ngModel)]="m.role" (ngModelChange)="onRoleChange($event, m.id)">
              @for (item of roles; track $index) {
              <option [value]="item.value">{{ item.label }}</option>
              }
            </select>
          </div>
          <div class="remove">
            <button mat-button (click)="removeMember(m.userId)"><mat-icon>delete_outline</mat-icon></button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
