section {
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  padding: 20px;
  background-color: #f0f0f0;
}

h2,
p {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

button {
  border: 1px solid #e0e0e0;
}
