section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  cursor: pointer;
  //padding: 1rem;
  //border-bottom: 2px solid #ddd;
}

section:hover {
  background-color: #f1f5f9;
}

section > div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.activity-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.activity-info > .title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.activity-info > span:not(:first-of-type) {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #64748b;
}
