@use '@angular/material' as mat;

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#register-form,
.other-option,
.divider {
  min-width: 150px;
  max-width: 350px;
 // width: 100%;
}


.form-group {
  width: 100%;
  margin-bottom: .5rem;
  
}

.main-container h2 {
  padding: 0 0 10px;
  font-size: 24px;
}

.main-container > p:first-of-type {
  margin-bottom: 25px;
  font-size: 16px;
}


.register-btn {
  width: 100%;
  color: white !important;
  background-color: #2563EB;
}

.loading-container{
  display: flex;
  justify-content: center;
}

.loading {
  @include mat.progress-spinner-overrides((
    active-indicator-color: #2563EB,
  ));
}