.chatbox-container {
  position: fixed;
  z-index: 50;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: flex-end;
  justify-content: flex-end;
  pointer-events: none;
  right: 1.5rem;
  bottom: 1.25rem;

  height: 50rem;
  max-height: calc(100% - 2.5rem);
  width: 390px;

  box-sizing: border-box;

  border: 0 solid #ececec;
}

.chatbox-container > button {
  position: relative;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border: none;
  border-radius: 9999px;
  background-color: #0785f2;
  box-shadow: 2px 2px 19px 1px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in-out;
  pointer-events: all;
  cursor: pointer;
  color: #ffffff;
}

.live-chat-inner-container {
  //flex-grow: 1;
  min-height: 0;
  flex: 1;

  //height: auto;
  width: 100%;
  pointer-events: all;
  box-sizing: border-box;
}

.liveChat-hidden {
  //display: none !important;
  visibility: hidden;
  pointer-events: none;
}

.live-chat-container {
  --default-chat-width: 420px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.37;
  color: #111;
  letter-spacing: normal;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 0.75em;
  box-shadow: none;
}

.live-chat-content {
  flex-direction: column;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%; //this is important
  flex: 1;
  display: flex;
  overflow-y: auto; // was hidden
  box-sizing: border-box;
}

.chat-header {
  display: flex;
  align-items: center;
  height: 4.5em;
  background-color: #ececec;
  border-bottom: 1px solid #d4d4d4;
  flex-shrink: 0;
}

.chat-header-content {
  padding-left: 1em;
  padding-right: 1em;
}

.chat-content-list {
  /*display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 100%;
  //height: 100%;
  justify-content: flex-end;
  flex: 1;
  min-height: 0;

  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent; */

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding: 16px;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  box-sizing: border-box;

  //justify-content: flex-end;
}

.spacer {
  flex-grow: 1;
}

.chat-message-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  gap: 0.5rem;

  .profile-image {
    height: 32px;
    width: 32px;
  }
}

.chat-message-row-current-user {
  flex-direction: row-reverse;

  .chat-message-current-user {
    border-color: #007df9;
    background-color: #007df9;
    color: #fff;
    // margin-right: 0.5em;
  }
}

.chat-message-body {
  white-space: normal;
  overflow: hidden;
  border-radius: 0.75em;
  border-width: 1px;
  border-style: solid;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  display: inline-block;
  padding: 0.75em 1em;
}

.chat-message-field-container {
  box-sizing: border-box;

  .chat-message-field {
    position: relative;
    padding: 16px;
    color: #111;
    font-size: 16px;
    background-color: #ececec;
    border-top: #d4d4d4 solid 1px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    .chat-message-form {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      box-sizing: border-box;

      button {
        width: 2.571em;
        height: 2.571em;
        padding: 0.571em;
        border: 0;

        flex-grow: 0;
        flex-shrink: 0;
        cursor: pointer;
      }

      .chat-message-textarea {
        position: relative;
        flex-grow: 1;

        textarea {
          min-height: 3.143em;
          max-height: 9em;
          border-radius: 0.65em;
          border: 1px solid white;
          background-color: white;
          display: block;
          resize: none;
          overflow-x: hidden;
          //overflow-y: auto;
          width: 100%;
          word-break: break-word;
          white-space: pre-wrap;
          padding: 0 1em;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          transition: box-shadow 150ms ease-out;
          box-sizing: border-box;
        }
      }
    }
  }
}
