<section>
  <div>
    <h3>Basic information</h3>
    <span>Manage the core details of your project.</span>
  </div>
  <div>
    <mat-form-field class="form-group" appearance="outline">
      <input
        type="text"
        matInput
        name="name"
        required
        [(ngModel)]="name"
        placeholder="Project name..."
      />
    </mat-form-field>

    <div class="filter-form">
      <div class="filter-item">
        <span>Start date</span>

        <mat-form-field appearance="outline" class="my-datepicker-wrapper">
          <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate" />
          <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="filter-item">
        <span>Deadline</span>

        <mat-form-field appearance="outline" class="my-datepicker-wrapper">
          <input matInput [matDatepicker]="deadlinePicker" [(ngModel)]="deadline" />
          <mat-datepicker-toggle matIconSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
          <mat-datepicker #deadlinePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Meeting time</mat-label>
          <input
            matInput
            [matTimepicker]="timepickerDeadline"
            [(ngModel)]="deadline"
            [ngModelOptions]="{ updateOn: 'blur' }"
          />
          <mat-timepicker #timepickerDeadline />
          <mat-timepicker-toggle [for]="timepickerDeadline" matSuffix />
        </mat-form-field>
      </div>
    </div>

    <button mat-button (click)="saveChanges()">Save changes</button>
  </div>
</section>
