:host {
  height: 100%;
}

#sidebar {
  //margin: 20px 15px 0;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.nav-items-title {
  font-weight: 550;
}

.nav-items {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-bottom: 5px;
}

.nav-items:first-of-type {
  margin-top: 15px;
}

.nav-items:last-of-type {
  margin-bottom: 0px;
}

.nav-items a:first-of-type {
  margin-top: 10px;
}

.nav-items > a {
  text-decoration: none;
  color: #000000;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
  font-size: 15px;
  padding: 15px;
  border-radius: 10px;
  justify-content: flex-start;
}

.nav-items > a > mat-icon {
  font-size: 20px;
  height: 100%;
  width: auto;
  margin-right: 0.75rem;
}

.active {
  background-color: #2563eb;
  color: #ffffff !important;
}

.secondaryActive {
  opacity: 0.8;
}

.sidebar-closed{
  padding: 0 !important;
  margin-right: 5px;
  margin-left: 5px;
}

.sidebar-closed > .nav-items > a{
  justify-content: center !important;
}
.sidebar-closed > .nav-items > a > mat-icon{
  margin-right: 0 !important;
}