section {
  display: flex;
  flex-direction: column;
}
.header {
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;

  h2 {
    padding: 0 1rem;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.content {
  padding: 1rem;
  div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
}

.form-group {
  width: 100%;
}
