#welcome-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.basic_data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  align-items: stretch;
}

.basic_data_child {
  flex: 1 1 200px;
  text-align: center;
}

#overview {
  margin-top: 50px;
}

.basic_data_overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  align-items: stretch;
  margin-bottom: 100px;
}

.basic_data_child_overview {
  flex: 1 1 350px;
  max-width: 350px;
  text-align: center;
}
