.basic_data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px 200px;
}

.basic_data_child {
  flex: 1 1 200px;
  max-width: 400px;
  text-align: center;
}

#overview {
  margin-top: 50px;
}

.basic_data_overview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px 100px;

  margin-bottom: 100px;
}

.basic_data_child_overview {
  flex: 1 1 350px;
  max-width: 350px;
  text-align: center;
}
