#welcome-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.basic_data,
.basic_data_overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  align-items: stretch;
}

.recent-projects,
.recent-activities {
  border: 2px solid #ddd;
  background-color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 2rem;
  //padding: 1rem;
}

.recent-projects > h2,
.recent-activities > h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  border-bottom: 2px solid #ddd;
  padding: 1rem;
  margin: 0;
}

.recent-projects > h2{
  margin-bottom: 1rem !important;
}


.basic_data_overview {
  padding: 0 1rem 1rem 1rem;
}

.recent-activities-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 24rem;
  overflow-y: auto;
}
