#main-window{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}


.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 50px;
  background-color: white;
}

#login-form,
.other-option,
.divider {
  min-width: 150px;
  max-width: 350px;
  width: 100%;
}

.form-group {
  width: 100%;
}

/*.main-container > .title {
  margin-bottom: 150px;
} */

.main-container h2 {
  padding: 0 0 10px;
  font-size: 24px;
}

.main-container > p:first-of-type {
  margin-bottom: 25px;
  font-size: 16px;
}

/*.main-container button,
a {
  border-radius: 10px;
} */

.login-btn {
  width: 100%;
  color: white !important;
  background-color: #000000;
}

.main-container > .divider {
  color: #828282;
  font-size: 16px;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
}

.divider:before,
.divider:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #828282;
  margin: auto;
}

.divider:before{
  margin-right: 5px;
}

.divider:after {
  margin-left: 5px;
}

.other-option{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}