section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form,
.other-option,
.divider {
  min-width: 150px;
  max-width: 350px;
  width: 100%;
}

.form-group {
  width: 100%;
}

.main-container h2 {
  padding: 0 0 10px;
  font-size: 24px;
}

.main-container > p:first-of-type {
  margin-bottom: 25px;
  font-size: 16px;
}


.login-btn {
  width: 100%;
  color: white !important;
  background-color: #2563EB;
}

.main-container > .divider {
  color: #828282;
  font-size: 16px;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
}

.divider:before,
.divider:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #828282;
  margin: auto;
}

.divider:before{
  margin-right: 5px;
}

.divider:after {
  margin-left: 5px;
}

.other-option{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}