// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* -------------------------------------Modal size - new project-------------------------------------------------- */

.custom-dialog-container.cdk-overlay-pane.mat-mdc-dialog-panel {
  --dialog-width: 600px;
  width: var(--dialog-width);
  max-width: 90vw; /* responsive */
}

@media (max-width: 768px) {
  .custom-dialog-container.cdk-overlay-pane.mat-mdc-dialog-panel {
    --dialog-width: 90vw; /* tableti + mali uređaji */
  }
}

@media (max-width: 480px) {
  .custom-dialog-container.cdk-overlay-pane.mat-mdc-dialog-panel {
    --dialog-width: 95vw; /* mobiteli */
  }
}

/* --------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------Card hover animation - new project-------------------------------------------------- */

.hover-animation {
  //box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
  transition: all 0.4s ease;
}

.hover-animation:hover {
  transform: translate3D(0, -1px, 0) scale(1.03);
  //box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07), 1px 6px 12px rgba(39, 44, 49, 0.04);
  transition: all 0.3s ease-in;
}

/* --------------------------------------------------------------------------------------------------------------- */

.avatar-size {
  height: 32px;
  width: 32px;
}



/* -------------------------------------Card hover animation - new project-------------------------------------------------- */

.loading-content-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* --------------------------------------------------------------------------------------------------------------- */




/* -------------------------------------Global datepicker calendar style-------------------------------------------------- */

:root {
  @include mat.datepicker-overrides((
    calendar-body-label-text-color: #000000,
    calendar-container-background-color: #ffffff,
  ));
}

/* --------------------------------------------------------------------------------------------------------------- */

.vivid-orange-hover:hover{
  background-color: #f59e0b;
}