section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 80vh;
}

.close-btn {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0;
  mat-icon {
    margin: 0;
  }
}

.tabs {
  padding: 1rem;
  border-right: 1px solid #ddd;
  width: 200px;
}

.tabs ul {
  list-style: none;
  padding: 0;
}

.tabs ul li {
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
}

.tabs ul li.active {
  background-color: #f0f0f0;
  font-weight: bold;
}

.tab-content {
  overflow-y: auto;
  padding: 0.75rem;
  flex: 1;
}
