@if (project()) {
<section cdkDropListGroup>
  <div class="example-container">
    <div class="column-header">
      <h2>To do</h2>
      <mat-icon class="vivid-orange-hover" (click)="openItemEditDialog()">add</mat-icon>
    </div>

    <app-kanban-list
      [listId]="taskStatus.TODO.toString()"
      [list]="todo"
      [isDragging]="isDragging"
      (onDrop)="drop($event)"
      (onUpdate)="getProjectTasks()"
      [projectId]="projectId"
    ></app-kanban-list>

    <!--<div
      cdkDropList
      #todoList="cdkDropList"
      [id]="taskStatus.TODO.toString()"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList, progressList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of todo; track item) {
      <div
        class="example-box"
        cdkDrag
        [cdkDragData]="item"
        (cdkDragStarted)="isDragging = true"
        (cdkDragEnded)="isDragging = false"
        (click)="!isDragging && editItem(item)"
      >
        <span>{{ item.title }}</span>
        <span>{{ item.description }}</span>
      </div>
      }
    </div>-->
  </div>

  <div class="example-container">
    <div class="column-header">
      <h2>In progress</h2>
    </div>

    <app-kanban-list
      [listId]="taskStatus.IN_PROGRESS.toString()"
      [list]="progress"
      [isDragging]="isDragging"
      (onDrop)="drop($event)"
      (onUpdate)="getProjectTasks()"
      [projectId]="projectId"
    ></app-kanban-list>
    <!--<div
      cdkDropList
      [id]="taskStatus.IN_PROGRESS.toString()"
      #progressList="cdkDropList"
      [cdkDropListData]="progress"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of progress; track item) {
      <div
        class="example-box"
        cdkDrag
        [cdkDragData]="item"
        (cdkDragStarted)="isDragging = true"
        (cdkDragEnded)="isDragging = false"
        (click)="!isDragging && editItem(item)"
      >
        <span>{{ item.title }}</span>
        <span>{{ item.description }}</span>
      </div>
      }
    </div> -->
  </div>

  <div class="example-container">
    <div class="column-header">
      <h2>Done</h2>
    </div>

    <app-kanban-list
      [listId]="taskStatus.DONE.toString()"
      [list]="done"
      [isDragging]="isDragging"
      (onDrop)="drop($event)"
      (onUpdate)="getProjectTasks()"
      [projectId]="projectId"
    ></app-kanban-list>
    <!--<div
      cdkDropList
      [id]="taskStatus.DONE.toString()"
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList, progressList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of done; track item) {
      <div
        class="example-box"
        cdkDrag
        [cdkDragData]="item"
        (cdkDragStarted)="isDragging = true"
        (cdkDragEnded)="isDragging = false"
        (click)="!isDragging && editItem(item)"
      >
        <span>{{ item.title }}</span>
        <span>{{ item.description }}</span>
      </div>
      }
    </div>-->
  </div>
</section>

}
