:host {
  display: block;
  height: 100%;
  box-sizing: border-box;
}

.app-container {
  height: 100vh;
}

mat-drawer-container {
  height: calc(100vh - 4rem);
}

mat-drawer {
  width: 250px;
  border-right: 2px solid #e0e0e0;
  border-radius: 0;
  background-color: #f0f0f0;
  transition: width 300ms ease !important;
  
}



.sidebar-open {
  width: 75px;
  transition: width 300ms ease !important;
}

.mat-drawer-container_sidebar_closed {
  margin-left: 75px !important;
}

.mat-drawer-container_sidebar_open {
  margin-left: 250px !important;
}

#sidebar {
  display: flex;
}

.site-content {
  margin: 20px 0 50px 0;
  padding: 0 15px;
  overflow-y: auto;
  min-height: 100%;
}
