:host {
  display: block;
  height: 100%;
  box-sizing: border-box;
}

.app-container {
  height: 100vh;
}

mat-drawer-container{
 //height: calc(100vh - 50px);
 height: calc(100vh - 4rem);
}

mat-drawer {
  width: 250px;
  border-right: 2px solid #E0E0E0;
  border-radius: 0;
  background-color: #F0F0F0;
}


#sidebar{
  display: flex;
}

#site-content {
  margin: 20px 20px 50px 0;
  padding-left: 15px;
  overflow-y: auto;
  min-height: 100%;
}