nav {
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 20px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  margin-right: 5px;
}

.nav-items > a {
  text-decoration: none;
  color: black;
  align-items: center;
  margin-right: 10px;
  display: flex;
  font-size: 15px;
}

.nav-items:last-of-type {
  margin-bottom: 0px;
}

.active {
  font-weight: bold;
  color: #1976d2;
  border-bottom: 2px solid #1976d2;
}
