#project-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-bottom: 1.5rem;
}

#project-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#project-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#project-info > h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-size: 600;
  margin: 0;
}

#project-info span,
#project-info mat-icon {
  color: #64748b;
}

#project-info > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#project-info > div > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#project-info > div > div > span {
  font-size: 0.875rem;
  line-height: normal;
}

#project-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#project-options > button {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  border: 1px solid #ddd;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  cursor: pointer;
}

#project-options > button:hover {
  background-color: #f59e0b;
}

.overall-container {
  flex-direction: column !important;
  gap: 0.5rem !important;
  align-items: flex-start !important;
}

.overall-container > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.overall-container > div > span {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

nav {
  border-bottom: 2px solid #e0e0e0;
  border-top: 2px solid #e0e0e0;
  margin-bottom: 20px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.nav-items > a {
  text-decoration: none;
  color: #64748b;
  align-items: center;
  display: flex;
  gap: 0.25rem;

  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-items > a:hover {
  color: #1e293b;
}

.active {
  color: #2563eb !important;
  border-bottom: 2px solid #2563eb;
}

// ----------------------------------------------------------------------------------------

.chatbox-container {
  position: fixed;
  z-index: 50;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: flex-end;
  justify-content: flex-end;
  pointer-events: none;
  right: 1.5rem;
  bottom: 1.25rem;

  height: 50rem;
  max-height: calc(100% - 2.5rem);
  width: 390px;

  box-sizing: border-box;

  border: 0 solid #ececec;
}

.chatbox-container > button {
  position: relative;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border: none;
  border-radius: 9999px;
  background-color: #0785f2;
  box-shadow: 2px 2px 19px 1px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in-out;
  pointer-events: all;
  cursor: pointer;
  color: #ffffff;
}

.live-chat-inner-container {
  flex-grow: 1;
  min-height: 0;
  height: auto;
  width: 100%;
  pointer-events: all;
  box-sizing: border-box;
}

.liveChat-hidden {
  display: none !important;
}

.live-chat-container {
  --default-chat-width: 420px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.37;
  color: #111;
  letter-spacing: normal;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 0.75em;
  box-shadow: none;
}

.live-chat-content {
  flex-direction: column;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
  box-sizing: border-box;
}

.chat-header {
  display: flex;
  align-items: center;
  height: 4.5em;
  background-color: #ececec;
  border-bottom: 1px solid #d4d4d4;
  flex-shrink: 0;
}

.chat-header-content {
  padding-left: 1em;
  padding-right: 1em;
}

.chat-content-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;

  box-sizing: border-box;
}

.spacer {
  flex-grow: 1;
}

.chat-message-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;

  .profile-image {
    height: 32px;
    width: 32px;
  }
}

.chat-message-row-current-user {
  flex-direction: row-reverse;

  .chat-message-current-user {
    border-color: #007df9;
    background-color: #007df9;
    color: #fff;
   // margin-right: 0.5em;
  }
}

.chat-message-body {
  white-space: normal;
  overflow: hidden;
  border-radius: 0.75em;
  border-width: 1px;
  border-style: solid;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  display: inline-block;
  padding: 0.75em 1em;
}

.chat-message-field-container {
  box-sizing: border-box;

  .chat-message-field {
    position: relative;
    padding: 16px;
    color: #111;
    font-size: 16px;
    background-color: #ececec;
    border-top: #d4d4d4 solid 1px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    .chat-message-form {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      box-sizing: border-box;

      button {
        width: 2.571em;
        height: 2.571em;
        padding: 0.571em;
        border: 0;

        flex-grow: 0;
        flex-shrink: 0;
      }

      .chat-message-textarea {
        position: relative;
        flex-grow: 1;

        textarea {
          min-height: 3.143em;
          max-height: 9em;
          border-radius: 0.65em;
          border: 1px solid white;
          background-color: white;
          display: block;
          resize: none;
          overflow-x: hidden;
          //overflow-y: auto;
          width: 100%;
          word-break: break-word;
          white-space: pre-wrap;
          padding: 0 1em;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          transition: box-shadow 150ms ease-out;
          box-sizing: border-box;
        }
      }
    }
  }
}
