#top-navigation{
  width: 100%;
  background-color: #F0F0F0;
  height: 50px;
  border-bottom: 2px solid #E0E0E0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

#top-navigation > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

#top-navigation mat-icon {
  height: 100%;
  width: auto;
  font-size: 50px;
  margin-right: 25px;
  cursor: pointer;
}
