#top-navigation {
  width: 100%;
  background-color: #f0f0f0;
  //height: 50px;
  height: 4rem;
  border-bottom: 2px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

#top-navigation > section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

/*#top-navigation mat-icon {
  height: 100%;
  width: auto;
  font-size: 50px;
  margin-right: 25px;
  cursor: pointer;
} */

#page-title {
  gap: 0.5rem;
}

#page-title > svg {
  color: #2563eb;
}

.menu-icon{
  transition: transform 0.5s;
  cursor: pointer;
}

.menu-icon:hover{
  background-color: #ffffff;
 
}

.sidebarOpen{
  transform: rotate(-90deg);
}

#profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  transition: 0.5s ease-out;
  cursor: pointer;
}

#profile:hover {
  background-color: #dcdcdc;
  border-radius: 10px;
}

#profile > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#profile > div > span {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

#profile .profile-image {
  height: 32px;
  width: 32px;
}

.arrow-icon {
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(180deg);
}

.profile-menu {
  min-width: 200px !important;
  max-width: 400px !important;
}

.profile-menu-info {
  display: flex;
  align-items: flex-start;
  align-content: center;
  flex-direction: column;
  padding: 0.75rem;
  border-bottom: 2px solid #e0e0e0;
}

.user-role {
  font-weight: 400;
  color: grey;
}

.profile-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem;
  cursor: pointer;
  gap: 0.5rem;
}

.profile-item:hover {
  background-color: #dcdcdc;
}

#logout {
  color: red;
}
