.example-list {
  width: 300px;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  //border: solid 1px #ccc;
  padding: 1rem 1rem 2rem 1rem;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  // background: white;
  border-radius: 4px;
  overflow: hidden;
  //flex: 1;
  gap: 0.5rem;
}

.example-box {
  padding: 20px 10px;
  border: solid 1px #ddd;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: grab;
  background: white;
  font-size: 14px;
  font-family: sans-serif;
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
