/**{
    background-color: lightgrey;
} */

#main-window {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 50px;
  background-color: white;
}

.auth-link {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;

  a {
    padding: 0.5rem 1rem;
    flex: 1;
    text-align: center;
    background-color: #f1f5f9;
    color: #64748b;
    border-radius: 0.375rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .active{
    background-color: #2563EB;
    color: #ffffff;
  }
}
