#main-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.grid-column {
  grid-column: span 2 / span 2;
}

#information-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container {
  border: 2px solid #ddd;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.container h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.container > p {
  line-height: 1.625;
  color: #64748b;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

li {
  display: flex;
  gap: 0.75rem;
}

li > div {
  color: #2563eb;
  justify-content: center;
  display: flex;
}

li > span:last-of-type {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #64748b;
}

#recent-activity > .activity-data {
  max-height: 600px;
  overflow-y: auto;
}

/*
.display {
  display: flex;
  flex-direction: row;
  gap: 20px 200px;
}

.display > div {
  padding: 20px;
  flex: 1 1 200px;

  border: 2px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f0f0f0;
}

#project-info-1,
#project-info-2 {
  margin-bottom: 50px;
}

#project-info-3 {
  margin-bottom: 100px;
}

#project-info-2 > div:first-of-type, #project-info-3 > div:first-of-type {
  flex: 3;
}

#project-info-3 > div:last-of-type{
  visibility: hidden;
}

.info-title {
  border-bottom: 3px solid #e0e0e0;
  padding-bottom: 15px;
}

.task-item,
.task-item > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-item {
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 15px;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: nowrap;
  gap: 15px;
}

.task-item:last-of-type {
  margin-bottom: 0;
}

.task-item > div {
  gap: 15px;
}

.task-item > .milestone-progress {
  flex-grow: 1;
  min-width: 0;
}
  */
