.display {
  display: flex;
  flex-direction: row;
  gap: 20px 200px;
}

.display > div {
  padding: 20px;
  flex: 1 1 200px;

  border: 2px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f0f0f0;
}

#project-info-1,
#project-info-2 {
  margin-bottom: 50px;
}

#project-info-3 {
  margin-bottom: 100px;
}

#project-info-2 > div:first-of-type, #project-info-3 > div:first-of-type {
  flex: 3;
}

#project-info-3 > div:last-of-type{
  visibility: hidden;
}

.info-title {
  border-bottom: 3px solid #e0e0e0;
  padding-bottom: 15px;
}

.task-item,
.task-item > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-item {
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 15px;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: nowrap;
  gap: 15px;
}

.task-item:last-of-type {
  margin-bottom: 0;
}

.task-item > div {
  gap: 15px;
}

.task-item > .milestone-progress {
  flex-grow: 1;
  min-width: 0;
}
