@if (project()) {

<section id="main-container">
  <section id="information-container" class="grid-column">
    <div class="container">
      <h2>Project Description</h2>
      <p>{{project()?.description}}</p>
      <!--<p>
        A comprehensive web-based student management system designed to streamline academic
        administration processes. This project aims to create an intuitive platform that enables
        efficient management of student records, course enrollment, grade tracking, and
        communication between students, faculty, and administrators. The system will feature
        role-based access control, real-time notifications, automated report generation, and
        seamless integration with existing institutional databases. Built using modern web
        technologies, the platform prioritizes user experience, data security, and scalability to
        accommodate growing institutional needs.
      </p>-->
    </div>

    <div class="container">
      <h2>Project Objectives</h2>
      <ul>
        <li>
          <div>
            <span>1</span>
          </div>
          <span
            >Develop a secure and scalable web application with role-based authentication system
            supporting students, faculty, and administrators</span
          >
        </li>
        <li>
          <div>
            <span>1</span>
          </div>
          <span
            >Develop a secure and scalable web application with role-based authentication system
            supporting students, faculty, and administrators</span
          >
        </li>
        <li>
          <div>
            <span>1</span>
          </div>
          <span
            >Develop a secure and scalable web application with role-based authentication system
            supporting students, faculty, and administrators</span
          >
        </li>
        <li>
          <div>
            <span>1</span>
          </div>
          <span
            >Develop a secure and scalable web application with role-based authentication system
            supporting students, faculty, and administrators</span
          >
        </li>
        <li>
          <div>
            <span>1</span>
          </div>
          <span
            >Develop a secure and scalable web application with role-based authentication system
            supporting students, faculty, and administrators</span
          >
        </li>
      </ul>
    </div>
  </section>

  <section id="recent-activity" class="container">
    <h2>Recent activity</h2>
    <div class="activity-data">

    </div>

  </section>
</section>

} @if (false) {

<section id="project-info-1" class="display">
  <div>
    <h3>Overall progress</h3>
    <h2>{{ project()?.progress }}%</h2>
  </div>
  <div>
    <h3>Deadline</h3>
    <h2>{{ project()?.deadline | date }}</h2>
  </div>
  <div>
    <h3>Total tasks</h3>
    <h2>{{ project()?.totalTasks }}</h2>
  </div>
  <div>
    <h3>Members</h3>
    <h2>{{ project()?.membersCount }}</h2>
  </div>
</section>

<section id="project-info-2" class="display">
  <div>
    <h3 class="info-title">My tasks</h3>
    @for (t of tasks; track $index) {
    <div class="task-item">
      <span>{{ t.title }}</span>
      <div>
        <span>{{ t.statusText }}</span>
        <span>Deadline: {{ t.createdAt | date : "MMM dd, yyyy 'at' HH:mm" }}</span>
      </div>
    </div>
    }
  </div>

  <div>
    <h3 class="info-title">Milestones</h3>

    <!-- @for (m of milestones; track $index) {
    <div class="task-item">
      <span>{{m.name}}</span>
      <div class="milestone-progress">
        <mat-progress-bar mode="determinate" [value]="m.progress"></mat-progress-bar>
      </div>
      <span>{{m.progress}}%</span>
    </div>} 
      -->

    <div class="task-item">
      <span>Milestone 1</span>
      <div class="milestone-progress">
        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
      </div>
      <span>100%</span>
    </div>

    <div class="task-item">
      <span>Milestone 1</span>
      <div class="milestone-progress">
        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
      </div>
      <span>100%</span>
    </div>

    <div class="task-item">
      <span>Milestone 1</span>
      <div class="milestone-progress">
        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
      </div>
      <span>100%</span>
    </div>
  </div>
</section>

<section id="project-info-3" class="display">
  <div>
    <h3 class="info-title">Milestones</h3>
    <div class="task-item">
      <ul>
        <li>Filip marked task "Task" as completed</li>
        <li>Pero marked task "Task" as in progress</li>
        <li>Josip marked task "Task" as in progress</li>
      </ul>
    </div>
  </div>
  <div></div>
</section>

}
